[submodule "templates/template-base"]
	path = templates/template-base
	url = https://github.com/EdwardRosenberg/template-base.git
[submodule "templates/template-backend-java"]
	path = templates/template-backend-java
	url = https://github.com/EdwardRosenberg/template-backend-java.git
[submodule "templates/template-backend-java-spring-boot"]
	path = templates/template-backend-java-spring-boot
	url = https://github.com/EdwardRosenberg/template-backend-java-spring-boot.git
[submodule "templates/template-backend-python"]
	path = templates/template-backend-python
	url = https://github.com/EdwardRosenberg/template-backend-python.git
[submodule "templates/template-backend-python-fastapi"]
	path = templates/template-backend-python-fastapi
	url = https://github.com/EdwardRosenberg/template-backend-python-fastapi.git
[submodule "templates/template-desktop-electron"]
	path = templates/template-desktop-electron
	url = https://github.com/EdwardRosenberg/template-desktop-electron.git
