[submodule "templates/template-base"]
	path = templates/template-base
	url = https://github.com/EdwardRosenberg/template-base.git
[submodule "templates/template-backend-java-spring-boot"]
	path = templates/template-backend-java-spring-boot
	url = https://github.com/EdwardRosenberg/template-backend-java-spring-boot.git
